.buy-modal {
  &-go-back-wrapper {
    display: flex;
    justify-content: center;
  }
  &-go-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    min-width: 135px;
    width: 135px;
    min-height: 30px;
    height: 30px;
    margin-top: 1rem;
    color: #111827;
    cursor: pointer;
  }
}
