.camera-wrapper {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

.clickable {
  cursor: pointer
}

.zoom-buttons {
  position: absolute;
  bottom: 0;
  margin: 15px;

  @media only screen and (max-width: 700px) {
    display: none;
  }

  button {
    &:hover {
      cursor: pointer;
    }
    margin: 10px;
    font-size: 40px;
    min-width: 50px;
    min-height: 50px;
  }

}

