@use "./mixins.scss";

.palette-container {
  @include mixins.flex-positioner;
  justify-content: center;
  align-items: flex-end;
}

.palette {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, auto);
  box-shadow: 0px 0px 10px 7px #000a;
  margin-bottom: 25px;
}

.palette-colour {
  width: 35px;
  height: 35px;
  cursor: pointer;
  &.selected {
    transform: scale(1.15);
    box-shadow: 0px 0px 10px 5px #000a;
    z-index: 100;
  }
}

