@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  box-shadow: 0px 0px 15px 5px #0007;
}

button {
  color: white;
  &:hover {
    background: #ccd;
    cursor: pointer;
  }
}

